<div class="card">
    <p-table class="my-custom-table" *ngIf="(tickets$ | async) as tickets" [value]="tickets" [scrollable]="true" scrollHeight="90vh">
        <ng-template pTemplate="caption">
            <div class="flex">
                <div>
                    {{tickets ? tickets.length : 0}} TICKETS
                </div>
                <div class="card flex align-items-center gap-3 ml-auto header-right">
                    <div class="flex align-items-center gap-1">
                        <p-checkbox name="group1" [value]="true" class="status1"></p-checkbox>
                        <label for="" class="status_label">OFF LOCATION ({{ getCountByStatus('off location') | async }})</label>
                    </div>
                    <div class="flex align-items-center gap-1">
                        <p-checkbox name="group1" [value]="true" class="status2"></p-checkbox>
                        <label for="" class="status_label">STANDBY ({{ getCountByStatus('standby') | async }})</label>
                    </div>
                    <div class="flex align-items-center gap-1">
                        <p-checkbox name="group1" [value]="true" class="status3"></p-checkbox>
                        <label for="" class="status_label">RIGGED IN ({{ getCountByStatus('rigged in') | async }})</label>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Status</th>
                <th>Delivered</th>
                <th>Returned</th>
                <th>Chemical</th>
                <th>Supplier</th>
                <th>Trailer</th>
                <th>Delivered Qty</th>
                <th>Current Qty</th>
                <th>Returned Qty</th>
                <th>Net</th>
                <th>Bol</th>
                <th>Equipment</th>
                <th>Delivery type</th>
                <th>Pad</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ticket>
            <tr>
                <td class="status-cell">
                    <div [ngClass]="{
                        'status-off': ticket.status === 'off location',
                        'status-standby': ticket.status === 'standby',
                        'status-rigged': ticket.status === 'rigged in'}" class="status">
                    </div>
                </td>
                <td>{{ticket.delivered | date:"MM/dd/yy"}}</td>
                <td>{{ticket.returned | date:"MM/dd/yy"}}</td>
                <td>{{ticket.chemical}}</td>
                <td>{{ticket.supplier}}</td>
                <td>{{ticket.trailer}}</td>
                <td>{{ticket.delivered_qty | number}}</td>
                <td>{{ticket.current_qty | number}}</td>
                <td>{{ticket.returned_qty | number}}</td>
                <td>{{ticket.net | number}}</td>
                <td>{{ticket.bol}}</td>
                <td>{{ticket.equipment}}</td>
                <td>{{ticket.delivery_type}}</td>
                <td>{{ticket.pad}}</td>
                <td>
                    <p-button (click)="showDialog(ticket)" icon="pi pi-pencil" styleClass="p-button-rounded p-button-text p-button-sm"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <app-update *ngIf="selectedTicket" [selectedTicket]="selectedTicket"></app-update>
</div>