<div class="card">
    <p-table class="my-custom-table" *ngIf="(stickets$ | async) as stickets" [value]="stickets" [scrollable]="true" scrollHeight="600px">
        <ng-template pTemplate="caption">
            <div class="flex">
                <div>
                    {{stickets ? stickets.length : 0}} STICKETS
                </div>
                <div class="card flex align-items-center gap-3 ml-auto header-right">
                    <div class="flex align-items-center gap-1">
                        <p-checkbox name="group1" [value]="true"></p-checkbox>
                        <label for="ny">OFF LOCATION ({{ getCountByStatus('off location') | async }})</label>
                    </div>
                    <div class="flex align-items-center gap-1">
                        <p-checkbox name="group1" [value]="true"></p-checkbox>
                        <label for="sf">STANDBY ({{ getCountByStatus('standby') | async }})</label>
                    </div>
                    <div class="flex align-items-center gap-1">
                        <p-checkbox name="group1" [value]="true"></p-checkbox>
                        <label for="la">RIGGED IN ({{ getCountByStatus('rigged in') | async }})</label>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Status</th>
                <th>Status</th>
                <th>Delivered</th>
                <th>Returned</th>
                <th>Chemical</th>
                <th>Supplier</th>
                <th>Trailer</th>
                <th>Delivered Qty</th>
                <th>Current Qty</th>
                <th>Returned Qty</th>
                <th>Net</th>
                <th>Bol</th>
                <th>Equipment</th>
                <th>Delivery type</th>
                <th>Pad</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sticket>
            <tr>
                <td class="status-cell">
                    <div [ngClass]="{
                        'status-off': sticket.status === 'off location',
                        'status-standby': sticket.status === 'standby',
                        'status-rigged': sticket.status === 'rigged in'}" class="status">
                    </div>
                </td>
                <td>{{sticket.status}}</td>
                <td>{{sticket.delivered | date:"MM/dd/yy"}}</td>
                <td>{{sticket.returned | date:"MM/dd/yy"}}</td>
                <td>{{sticket.chemical}}</td>
                <td>{{sticket.supplier}}</td>
                <td>{{sticket.trailer}}</td>
                <td>{{sticket.delivered_qty | number}}</td>
                <td>{{sticket.current_qty | number}}</td>
                <td>{{sticket.returned_qty | number}}</td>
                <td>{{sticket.net | number}}</td>
                <td>{{sticket.bol}}</td>
                <td>{{sticket.equipment}}</td>
                <td>{{sticket.delivery_type}}</td>
                <td>{{sticket.pad}}</td>
                <td>
                    <p-button (click)="showDialog(sticket)" icon="pi pi-pencil" styleClass="p-button-rounded p-button-text p-button-sm"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <app-update *ngIf="showUpdate && selectedSticket" [selectedSticket]="selectedSticket"></app-update>
</div>